.datepicker-modal {
  --background: transperent;
}

.datepicker-wrapper {
  height: 100%;
}

::v-deep(.datepicker-range) {
  background: transparent;
  border: none;
  --vc-header-title-color: #c0c7cd;
  --vc-header-arrow-color: #c0c7cd;
  --vc-highlight-light-bg: #364955;
  --vc-color: #e0e3e3;

  .vc-header {
    margin-bottom: 12px;
  }

  .vc-highlight-content-solid {
    --vc-highlight-solid-content-color: #003549;
    font-weight: 600;
  }

  .vc-highlight-content-outline {
    --vc-highlight-solid-content-color: #003549;
    background: #76d1ff;
  }

  .vc-highlight-content-light {
    --vc-highlight-light-content-color: #e0e3e3;
  }

  //.vc-highlight-bg-outline {
  //  background: #76d1ff;
  //  border: none;
  //}

  .vc-highlight-base-start {
    background: #364955;
  }

  .vc-highlight-base-end {
    background: #364955;
  }

  .vc-highlight-base-middle {
    background: #364955;
  }

  .vc-arrow,
  .vc-title-wrapper button {
    background: transparent;
  }

  .vc-weeks {
    padding: 0;
  }

  .vc-week {
    padding: 4px 0;
  }

  .vc-day-content {
    font-weight: 400;
    width: 40px;
    height: 40px;

    &.vc-highlight-content-solid,
    &.vc-highlight-content-outline {
      font-weight: 700;
    }

    &.vc-highlight-content-outline {
      color: #003549;
    }
  }

  .vc-highlights {
    height: 40px;
  }

  .vc-day-box-center-center {
    height: 40px;
  }

  .vc-highlight-bg-solid {
    background: #76d1ff;
  }

  .vc-highlight-bg-solid,
  .vc-highlight-bg-outline {
    width: 40px;
  }

  .vc-highlight {
    height: 40px;
  }
}

.datepicker-card {
  margin: 8px 20px;
  width: 100%;
  background: #233036;
  border-radius: 28px;

  .datepicker-single {
    --background: transperent;
    --wheel-fade-background-rgb: transperent;

    &::part(wheel-item) {
      font-weight: 300 !important;
    }
  }

  .datepicker-edit-button {
    --padding-bottom: 8px;
    --padding-end: 8px;
    --padding-start: 8px;
    --padding-top: 8px;
    --color: #c0c7cd;
  }

  &-title {
    font-size: 0.75rem;
    line-height: 1rem;
    color: #c0c7cd;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
  }
  &-header {
    font-size: 2rem;
    line-height: 2.5rem;
    color: #e0e3e3;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
  }

  &-header-wrapper {
    border-bottom: 1px solid #8b9298;
    padding: 18px 16px 0;
  }

  &-footer-wrapper {
    padding: 0 16px 10px;
  }
}
