.leaves-status__Approved {
  color: #52e169 !important;
}

.leaves-status__Accepted {
  color: #52e169 !important;
}

.leaves-status__Rejected {
  color: #ffb4a9 !important;
}

.leaves-status__Pending {
  color: #ffb68d !important;
}

.leaves-status__Cancelled {
  color: #8b9298 !important;
}

.leaves-status__Open {
  color: #E0E3E3 !important;
}

.text-danger {
  color: #FFB4A9 !important;
}

.mb-0 {
  margin-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}
.pr-0 {
  padding-left: 0;
}

.text-dark-tint {
  color: var(--ion-color-dark-tint)
}

.ion-select__hidden-cancel {
  .action-sheet-group-cancel {
    display: none
  }
}

.action-sheet-wrapper {

  .action-sheet-container {

    .action-sheet-group {
      padding: 16px;
      border-radius: 18px 18px 0 0;
      background: #1e2529;

      button {
        border-bottom: 1px solid #8B9298;
      }
    }
  }
}

.ios {
  input.sc-ion-input-ios {
    border: 1px solid #8B9298;
    padding: 16px;
  }
  textarea.sc-ion-textarea-ios {
    border: 1px solid #8B9298;
    padding: 8px 16px !important;
  }
  ion-select {
    border: 1px solid #8B9298;
    padding: 5px 16px !important;
    border-radius: 4px;

    .select-wrapper {
      border: 1px solid #8B9298;
      padding: 16px;
      border-radius: 4px;

      &-inner {
        width: 100%;
      }

      & > .native-wrapper {
        width: 100%;
      }
    }
  }
}

@media (orientation: portrait) {
  .ios {
    & > ion-router-outlet {
      & > .ion-page {
        padding-top: 40px;
      }
    }
  }
}
