.leaves-status__Approved {
  color: #52e169 !important;
}

.leaves-status__Accepted {
  color: #52e169 !important;
}

.leaves-status__Rejected {
  color: #ffb4a9 !important;
}

.leaves-status__Pending {
  color: #ffb68d !important;
}

.leaves-status__Cancelled {
  color: #8b9298 !important;
}